{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "react-hot-loader/babel",
    "graphql-tag",
    "module:fast-async",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-remove-console"
     ]
    },
    "development": {
      "plugins": ["console", "console-source"]
    },
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs",
        "@babel/plugin-syntax-jsx",
        "dynamic-import-node"
      ],
      "sourceMaps": "inline"
    }
  }
}
