{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry",
        "modules": false,
        "targets": {
          "browsers": [">0.2%", "not dead", "not ie <= 11", "not op_mini all"]
        }
      }
    ],
    ["@babel/preset-react", { "pragma": "h" }]
  ],
  "plugins": [
    "module:fast-async",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "graphql-tag",
    "lodash",
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-remove-console"
      ]
    },
    "development": {
      "plugins": ["console", "console-source"]
    },
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs",
        "@babel/plugin-syntax-jsx",
        "dynamic-import-node"
      ],
      "sourceMaps": "inline"
    }
  }
}
