{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "@typescript-eslint/tslint",
    "emotion",
    "fp",
    "import",
    "jsx-a11y",
    "prettier",
    "ramda",
    "simple-import-sort",
    "sort-keys-fix",
    "standard",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:ramda/recommended",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "standard"
  ],
  "rules": {
    "@typescript-eslint/tslint/config": "error",
    "emotion/import-from-emotion": "error",
    "emotion/no-vanilla": "error",
    "emotion/styled-import": "error",
    "fp/no-arguments": "error",
    "fp/no-class": "error",
    "fp/no-delete": "error",
    "fp/no-events": "error",
    "fp/no-get-set": "error",
    "fp/no-loops": "error",
    "fp/no-mutating-methods": "error",
    "fp/no-proxy": "error",
    "fp/no-this": "error",
    "fp/no-valueof-field": "error",
    "jsx-a11y/label-has-associated-control": "off",

    "no-console": [
      "warn",
      {
        "allow": ["error", "warn"]
      }
    ],
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "react/jsx-fragments": ["error", "syntax"],
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandFirst": true
      }
    ],
    "react/prefer-stateless-function": "warn",
    "react/prop-types": "off",
    "react/sort-prop-types": "error",
    "simple-import-sort/sort": "error",
    "sort-keys-fix/sort-keys-fix": "error",
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ],
    "unicorn/prevent-abbreviations": "off"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      { "property": "freeze", "object": "Object" },
      { "property": "myFavoriteWrapper" }
    ],
    "linkComponents": [
      "Hyperlink",
      { "name": "Link", "linkAttribute": "to" }
    ],
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["images", "./src/images"],
          ["pages", "./src/pages"],
          ["styles", "./src/styles"],
          ["templates", "./src/templates"],
          ["util", "./src/util"]
        ],
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": [
        "wrap-root-element.js",
        "gatsby-browser.js",
        "gatsby-config.js",
        "gatsby-node.js",
        "gatsby-ssr.js",
        "src/templates/*/*.ts",
        "src/templates/*/*.tsx",
        "src/pages/*.tsx",
        "src/graphql-types.d.ts"
      ],
      "rules": {
        "unicorn/filename-case": [
          "error",
          { "case": "kebabCase" }
        ]
      }
    },
    {
      "files": [
        "wrap-root-element.js",
        "gatsby-browser.js",
        "gatsby-config.js",
        "gatsby-node.js",
        "gatsby-ssr.js"
      ],
      "rules": {
        "sort-keys-fix/sort-keys-fix": "off",
        "react/display-name": "off",
        "react/prop-types": "off"
      }
    }
  ]
}
