{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "emotion",
    "fp",
    "import",
    "jsx-a11y",
    "prettier",
    "ramda",
    "sort-keys-fix",
    "standard",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:ramda/recommended",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "standard"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": "off",
    "no-duplicate-imports": "error",
    "no-unexpected-multiline": "off",
    "no-console": [
      "warn",
      {
        "allow": ["error", "warn"]
      }
    ],
    "quotes": ["error", "single"],
    "func-style": [
      "error",
      "declaration",
      { "allowArrowFunctions": true }
    ],
    "prefer-arrow-callback": "error",

    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "@typescript-eslint/member-delimiter-style": "off",

    "emotion/import-from-emotion": "error",
    "emotion/no-vanilla": "error",
    "emotion/styled-import": "error",

    "fp/no-arguments": "error",
    "fp/no-class": "error",
    "fp/no-delete": "error",
    "fp/no-events": "error",
    "fp/no-get-set": "error",
    "fp/no-loops": "error",
    "fp/no-mutating-methods": "error",
    "fp/no-proxy": "error",
    "fp/no-this": "error",
    "fp/no-valueof-field": "error",

    "import/order": [
      "error",
      { "newlines-between": "always" }
    ],

    "jsx-a11y/label-has-associated-control": "off",

    "prettier/prettier": "error",

    "react/jsx-fragments": ["error", "syntax"],
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandFirst": true
      }
    ],
    "react/prefer-stateless-function": "warn",
    "react/prop-types": "off",
    "react/sort-prop-types": "error",

    "sort-keys-fix/sort-keys-fix": "error",

    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ],
    "unicorn/prevent-abbreviations": "off"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "propWrapperFunctions": [
        "forbidExtraProps",
        { "property": "freeze", "object": "Object" },
        { "property": "myFavoriteWrapper" }
      ],
      "linkComponents": [
        "Hyperlink",
        { "name": "Link", "linkAttribute": "to" }
      ]
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "alias": {
        "map": [["src", "./src"]],
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx",
          ".json"
        ]
      },
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": ["*.css.ts"],
      "rules": {
        "indent": "off"
      }
    },
    {
      "files": [
        "*-types.ts",
        "*-types.d.ts",
        "wrap-root-element.js",
        "gatsby-browser.js",
        "gatsby-config.js",
        "gatsby-node.js",
        "gatsby-ssr.js",
        "src/templates/*/*.ts",
        "src/templates/*/*.tsx",
        "src/pages/*.tsx",
        "src/graphql-types.d.ts"
      ],
      "rules": {
        "unicorn/filename-case": [
          "error",
          { "case": "kebabCase" }
        ]
      }
    },
    {
      "files": [
        "wrap-root-element.js",
        "gatsby-browser.js",
        "gatsby-config.js",
        "gatsby-node.js",
        "gatsby-ssr.js"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/camelcase": "off",
        "sort-keys-fix/sort-keys-fix": "off",
        "react/display-name": "off"
      }
    }
  ]
}
