@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Proxima Nova Light'),
    url('/fonts/proxima-nova-light.woff2') format('woff2'),
    url('/fonts/proxima-nova-light.woff') format('woff'),
    url('/fonts/proxima-nova-light.otf') format('opentype');
}

@font-face {
  font-family: 'proxima-nova';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Proxima Nova Regular'),
    url('/fonts/proxima-nova-regular.woff2') format('woff2'),
    url('/fonts/proxima-nova-regular.woff') format('woff'),
    url('/fonts/proxima-nova-regular.otf') format('opentype');
}

@font-face {
  font-family: 'proxima-nova';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local('Proxima Nova Medium'),
    url('/fonts/proxima-nova-medium.woff2') format('woff2'),
    url('/fonts/proxima-nova-medium.woff') format('woff'),
    url('/fonts/proxima-nova-medium.otf') format('opentype');
}

@font-face {
  font-family: 'proxima-nova';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Proxima Nova Semi Bold'),
    url('/fonts/proxima-nova-semibold.woff2') format('woff2'),
    url('/fonts/proxima-nova-semibold.woff') format('woff'),
    url('/fonts/proxima-nova-semibold.otf') format('opentype');
}
